<div class="col-md-4 col-lg-4 m-2">
  <div class="card h-100 border-info">
    <%= image_tag(post_image(post), size: '280x300', class: 'card-img-top') %>
    <div class="card-body bg-primary text-white text-center">
      <h5 class="card-title"> <%= post.title %> </h5>
      <p class="card-text"> <%= post_description(post) %> </p>
    </div>
    <div class="card-footer text-center">
      <strong><%= post.category.upcase %></strong>
    </div>
  </div>
</div>
